body {
    background-image: url('background.jpg'); /* 배경 이미지 설정 */
    background-repeat: no-repeat; /* 이미지 반복 없음 */
    background-position: center; /* 이미지를 중앙에 위치 */
    background-attachment: fixed;
    background-size: cover; /* 배경 이미지가 화면을 꽉 채우도록 설정 */
  }