.button{
    background-color: #d2d2d2;
    width: 200px;
    height: 100px;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: 0.6s
}
.button::before{
    position: absolute;
    content: "";
    background-color: #fff;
    width: 90px;
    height: 90px;
    border-radius: 200px;
    margin: 5px;
    transition: 0.6s;
}
input:checked + .button{
    background-color: #20096d;
}
input:checked + .button::before{
    transform: translateX(100px);
}
input{
    display: none;
}