@import url('//cdn.jsdelivr.net/gh/neodgm/neodgm-pro-webfont@1.020/neodgm_pro/style.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    font-family: 'NeoDunggeunmo Pro';
    overflow: auto;
    scroll-snap-type: y mandatory;
}
.container{
    width:100%;
    height:100px;
    background-color: #b13f3f;
    display: flex;
    justify-content: right;
    scroll-snap-align: start;
}
.content{
    text-align: center;
    height:600px;
    overflow-y: scroll;
    user-select: none;
}
table{
    background-color: rgb(255, 255, 255);
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
  border-collapse: collapse; /* 테두리를 겹쳐서 하나로 보이게 함 */
}
td{
width: 10%;
border: 1px solid black;
}
th:first-child, td:first-child {
    width: 40%;
}
th:not(:first-child), td:not(:first-child) {
    width: 6%;
}